html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
