html {
  height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  background-image: url('/images/585174283.jpg');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  // This rule will disable all css transitions - applied to container with js during viewport resizing
  &--no-anim * {
    // scss-lint:disable ImportantRule
    transition: none !important;
  }
}
