.predictions {

  &__list {
    margin: 4px 0 0;
    position: relative;
    padding: 0;
  }

  &__item {
    padding: 0;
    border-radius: 4px;
    margin: 0 0 2px;
    font-size: 14px;
    list-style: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 18px 10px;
    color: $white;
    background-color: $dim-60;
  }
}

@media screen and (max-width: 450px) {
  .predictions {
    &__item {
      font-size: 12px;
      margin-right: 40px;
    }

    &__link {
      padding: 14px 10px;
    }
  }
}
