.search {
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  background-color: transparent;
  transition: all .75s ease;

  &--white-bg {
    background-color: $light-95;
    transition: all .75s ease;
  }
}

.submit {
  justify-content: center;
  padding: 40px;

  &__button {
    height: 50px;
    background-color: $dim-60;
    border: 0;
    border-radius: 4px;
    color: $white;
    font-size: 16px;
    width: 60%;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
      background-color: $pickup;
      transition: background-color .3s ease;
    }
  }
}

@media screen and (max-width: 450px) {
  .search {
    padding-top: 30px;
  }

  .submit {

    &__button {
      width: 100%;
    }
  }
}
