// Palette

$black: #000;
$white: #fff;

$gray-e: #eee;
$gray-d: #ddd;
$gray-c: #ccc;
$gray-9: #999;
$gray-6: #666;
$gray-3: #333;

$dim-25: rgba(0, 0, 0, .25);
$dim-70: rgba(0, 0, 0, .7);
$dim-60: rgba(0, 0, 0, .6);

$light-60: rgba(255, 255, 255, .6);
$light-80: rgba(255, 255, 255, .8);
$light-95: rgba(255, 255, 255, .95);

$blue: #008ae6;
$pickup: rgba(15, 150, 150, 0.7);
$dropoff: rgba(207, 125, 24, 0.7);

// Animation
// $ease-1:
